<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/addAnimal}" th:object="${animal}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Shelter: <select th:field="*{shelter}">
        <option th:each ="shelter : ${shelters}" th:value="${shelter.getId()}" th:utext="${shelter.getName()}">...</option>
    </select></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>