<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
    <a href="/animals">На главную</a>
<!--    <img src="img_avatar.png" alt="Avatar" style="width:100%">-->
    <div class="container">
        <h4> <p th:utext="${animal.getName()}"></p></h4>
        <p>Возраст: [[${animal.getAge()}]]</p>
<!--        <p>Порода:<p th:utext="${animal.getBreed()}"></p>-->
<!--        <p>Описание:<p th:utext="${animal.getDescription()}"></p>-->
        <p>Приют: [[${animal.getShelter()}]]</p>
    </div>
</div>
</body>
</html>