<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Приюты</h1>
    <br/><br/>
    <div>
        <table border="1">
            <tr>
                <th>Название</th>
                <th></th>
            </tr>
            <tr th:each ="shelter : ${shelters}">
                <td th:utext="${shelter.getName()}">...</td>
                <td> <a th:href="@{/shelter/{id}(id=${shelter.getId()})}">Развернуть</a></td>
            </tr>
        </table>
    </div>
</body>
</html>